<html>
<head>
<style type="text/css">
	table {
		font-family: arial, sans-serif;	
		border-collapse: collapse;
	}
	td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
</head>
<body style="width:100%; height: 100%;">
	<div style="width:100%;" align="center">
		<h1> Contents of the Data Server </h1>
	</div>
	<table align="center" id="table_keys">
		<tr>
			<th> Key </th>
			<th> Value </th>
			<th> Value </th>
		</tr>
	</table>
	<script type='text/javascript'>
		var count = 1;
		var tableHome = document.getElementById('table_home');
		var address = <%- JSON.stringify(address) %>
		var linkhRef1 = document.createElement("a");
		var linkhRef2 = document.createElement("a");
		
		var row1 = tableHome.insertRow(count++);
		var passwords = row1.insertCell(0);
		var link1 = row1.insertCell(1);
		passwords.innerHTML = 'Passwords Stored';
		linkhRef1.innerHTML = 'link';
		linkhRef1.href = address + 'passwords/';
		link1.appendChild(linkhRef1);

		var row2 = tableHome.insertRow(count++);
		var services = row2.insertCell(0);
		var link2 = row2.insertCell(1);
		services.innerHTML = 'Services';
		linkhRef2.innerHTML = 'link';
		linkhRef2.href = address + 'register_service/';
		link2.appendChild(linkhRef2);
	</script>
</body>
</html>