<html>
<head>
<style type="text/css">
	table {
		font-family: arial, sans-serif;	
		border-collapse: collapse;
	}
	td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
</head>
<body style="width:100%; height:100%;">
	<div align="center" style="width:100%;">
		<h1 id="serviceName"> </h1>
		<h3> Users Registered </h3>
		<table id="tableUsers" align="center">
			<tr>
				<th> Users </th>
			</tr>
		</table> <br>
		<button onclick="goBack()"> Back </button>
	</div>
	<script type="text/javascript">
		var service = <%- JSON.stringify(Service) %>;
		var users = <%- JSON.stringify(Users) %>;
		var address = <%- JSON.stringify(Address) %>;

		document.getElementById('serviceName').innerHTML = service;

		var count = 1;
		var table = document.getElementById('tableUsers');

		for(var index in users)
		{
			var row = table.insertRow(count++);

			var user = row.insertCell(0);
			var userRef = document.createElement("a");
			userRef.innerHTML = index;
			userRef.href = address + "Login/" + service + '.' + index;
			user.appendChild(userRef);
		}

		function goBack()
		{
			console.log('back');
			var form = document.createElement('form');
		    form.setAttribute('method', 'get');
		    form.setAttribute('action', address);
		    form.style.display = 'hidden';
		    document.body.appendChild(form);
		    form.submit();
		    document.body.removeChild(form);
		}
	</script>
</body>
</html>