<html>
<head>
<style type="text/css">
	table {
		font-family: arial, sans-serif;	
		border-collapse: collapse;
	}
	td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
</head>
<body style="width:100%; height:100%;">
	<div align="center" style="width:100%;">
		<h1> Services Available </h1>
		<table id="tableServices" align="center">
			<tr>
				<th> Service </th>
				<th> Link </th>
			</tr>
		</table>
	</div>
	<script type="text/javascript">
		var services = <%- JSON.stringify(Passwords) %>;
		var address = <%- JSON.stringify(Address) %>;

		var count = 1;
		var table = document.getElementById('tableServices');

		for(var index in services)
		{
			var row = table.insertRow(count++);

			var service = row.insertCell(0);
			var link = row.insertCell(1);

			service.innerHTML = services[index];
			var linkRef = document.createElement("a");
			linkRef.innerHTML = "link";
			linkRef.href = address + services[index] + "/";
			link.appendChild(linkRef);
		}
	</script>
</body>
</html>