<html>
<head>
</head>
<body style="width:100%; height:100%;">
	<div align="center" style="width:100%;">
		<h1> Register New User </h1>
		<table>
			<tr>
				<td align="center"> Name: </td> 
				<td> <input id="newUser" type="text" name="Name"> </input> </td>
			</tr>
		<table>
		<button onclick="registerUser()"> Register </button>
		<button onclick="goBack()"> Back </button>
	</div>
	<script type="text/javascript">
		var users = <%- JSON.stringify(Users) %>;
		var address = <%- JSON.stringify(Address) %>;

		function registerUser() 
		{
			if(checkValidity(document.getElementById('newUser').value))
			{
				var form = document.createElement('form');
			    form.setAttribute('method', 'post');
			    form.setAttribute('action', address + 'Register/');
			    form.style.display = 'hidden';
			    form.appendChild(document.getElementById('newUser').cloneNode());
			    document.body.appendChild(form);
			    form.submit();
			    document.body.removeChild(form);
		    }
		}

		function checkValidity(name)
		{
			var isGood = true;

			if(users.indexOf(name) > -1)
			{
				isGood = false;
				alert('The username ' + name + ' was already taken. Try again.');
			}

			if(isGood)
			{
				if(name.length < 7)
				{
					isGood = false;
					alert('The username must be at least 8 characters long!');
				}
			}

			return isGood;
		}

		function goBack()
		{
			console.log('back');
			var form = document.createElement('form');
		    form.setAttribute('method', 'get');
		    form.setAttribute('action', address);
		    form.style.display = 'hidden';
		    document.body.appendChild(form);
		    form.submit();
		    document.body.removeChild(form);
		}
	</script>
</body>
</html>