<html>
<head>
<style type="text/css">
	table {
		font-family: arial, sans-serif;	
		border-collapse: collapse;
	}
	td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
</head>
<body style="width:100%; height: 100%;">
	<div style="width:100%;" align="center">
		<h1> Passwords Stored </h1>
		<table id="table_passwords" align="center">
			<tr>
				<th> Service </th>
				<th> Index </th>
				<th> Passwords </th>
			</tr>
		</table>
		<script type='text/javascript'>
			var count = 1;
			var tablePasswords = document.getElementById('table_passwords');
			var services = <%- JSON.stringify(Services) %>;
			for(var service in services)
			{
				var row = tablePasswords.insertRow(count++);

				for(var index in services[service].Passwords)
				{
					var serviceCell = row.insertCell(0);
					var indexCell = row.insertCell(1);
					var passwordCell = row.insertCell(2);

					serviceCell.innerHTML = service;
					indexCell.innerHTML = index;
					passwordCell.innerHTML = services[service].Passwords[index];
				}

			}
		</script>
	</div>
</body>
</html>